.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
}
@-webkit-keyframes modalView {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@keyframes modalView {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@-webkit-keyframes modalClose {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
@keyframes modalClose {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
.modal .modal-body {
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.modal .modal-body .modal-share {
  height: 8%;
  padding: 0rem 1.5rem;
  position: absolute;
  bottom: 0;
  z-index: 4;
  background-color: #1b1a17;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: grid;
  -ms-grid-columns: (1fr) [5];
  grid-template-columns: repeat(5, 1fr);
}
@-webkit-keyframes modalShareView {
  from {
    bottom: -5rem;
  }
  to {
    bottom: 0rem;
  }
}
@keyframes modalShareView {
  from {
    bottom: -5rem;
  }
  to {
    bottom: 0rem;
  }
}
@-webkit-keyframes modalShareClose {
  from {
    bottom: 0rem;
  }
  to {
    bottom: -5rem;
  }
}
@keyframes modalShareClose {
  from {
    bottom: 0rem;
  }
  to {
    bottom: -5rem;
  }
}
.modal .modal-body .modal-share .share-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.modal .modal-body .modal-share .share-section button {
  width: 50px;
  height: 50px;
  padding: 1rem;
  border: none;
  border-radius: 50px;
  background-color: #23221f;
}
.modal .modal-body .modal-edit {
  display: flex;
  padding: 1.5rem;
  position: absolute;
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #1b1a17;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
@-webkit-keyframes modalEditView {
  from {
    bottom: -20rem;
  }
  to {
    bottom: 0rem;
  }
}
@keyframes modalEditView {
  from {
    bottom: -20rem;
  }
  to {
    bottom: 0rem;
  }
}
@-webkit-keyframes modalEditClose {
  from {
    bottom: 0rem;
  }
  to {
    bottom: -20rem;
  }
}
@keyframes modalEditClose {
  from {
    bottom: 0rem;
  }
  to {
    bottom: -20rem;
  }
}
.modal .modal-body .modal-edit input,
.modal .modal-body .modal-edit textarea,
.modal .modal-body .modal-edit button {
  border: 1px solid #a35709;
  color: #d9d9d9;
}
.modal .modal-body .modal-edit .modal-buttons {
  width: 100%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.modal .modal-body .modal-edit .modal-buttons button {
  margin: 0.5rem 0.5rem 0rem;
  padding: 0.5rem 1.5rem;
  background-color: #23221f;
}
.modal .modal-body .modal-delete {
  display: flex;
  height: 25%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #1b1a17;
  border-top: 5px solid #ff8303;
  border-radius: 4px;
}
.modal .modal-body .modal-delete p {
  color: #fff;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}
.modal .modal-body .modal-delete .modal-buttons {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.modal .modal-body .modal-delete .modal-buttons button {
  color: #d9d9d9;
  padding: 0.5rem 2rem;
  font-size: 1.25rem;
  font-family: 'Roboto', sans-serif;
  background-color: #1f1e1b;
}
.modal .modal-body .modal-delete .modal-buttons button:nth-child(1) {
  border: 1px solid #a35709;
}
.modal .modal-body .modal-delete .modal-buttons button:nth-child(2) {
  border: 1px solid #ff8303;
}
