* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

h1 {
  color: #f0e3ca;
  font-family: 'Roboto', sans-serif;
}

p {
  color: #f0e3ca;
  font-family: 'Roboto', sans-serif;
}

input,
textarea {
  width: 92%;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  padding: 0.75rem 1rem;
  font-size: 1.15rem;
  border: 2px solid #ff8303;
  border-radius: 8px;
  background: #1f1e1b;
}

textarea {
  resize: none;
  height: 70%;
  margin-top: 1rem;
}

button {
  color: #ff8303;
  cursor: pointer;
  background-color: #1b1a17;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: none;
  border: 2px solid #ff8303;
  border-radius: 8px;
}

html {
  width: 100vw;
  min-height: 100vh;
}

body {
  background-color: #1b1a17;
  overflow-x: hidden;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
}
.wrapper .wrapper-body {
  min-height: 100vh;
  margin: 0 auto;
}
.wrapper .header {
  width: 100%;
  height: 12.5vh;
  padding-top: 2rem;
}
.wrapper .header .header-body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper .header .header-body form {
  width: 100%;
  display: flex;
}
.wrapper .header .header-inputs {
  width: 79%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-rows: (1fr) [2];
  grid-template-rows: repeat(2, 1fr);
}
.wrapper .header .header-inputs input {
  height: 33%;
}
.wrapper .header .header-inputs input::nth-child(1) {
  margin-top: 0.5rem;
}
.wrapper .header .header-buttons {
  width: 21%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.wrapper .header .header-buttons button {
  width: 86%;
  height: 91%;
}
.wrapper .header .header-buttons button > span {
  -webkit-transform: scale(3);
  transform: scale(3);
}
.wrapper .tasks {
  width: 100%;
  min-height: 10vh;
}
.wrapper .tasks .tasks-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.wrapper .tasks .tasks-body .tasks-info {
  width: 40%;
  height: 15vh;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.wrapper .tasks .tasks-body .tasks-info > h1 {
  color: #fff;
}
.wrapper .tasks .tasks-body .tasks-info::before {
  content: '';
  position: absolute;
  top: 2rem;
  width: 64px;
  height: 3px;
  background: #ff8303;
}
.wrapper .tasks .tasks-body .tasks-info::after {
  content: '';
  position: absolute;
  bottom: 2rem;
  width: 64px;
  height: 3px;
  background: #ff8303;
}
.wrapper .tasks .tasks-cards {
  width: 98.5%;
  min-height: 10vh;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.wrapper .tasks .tasks-cards .task-card {
  position: relative;
  margin-bottom: 2rem;
  width: 100%;
  min-height: 10vh;
}
.wrapper .tasks .tasks-cards .task-card .task-info {
  cursor: pointer;
  width: 100%;
  min-height: 10vh;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1f1e1b;
  border: 2px solid #ff8303;
  border-radius: 8px;
}
.wrapper .tasks .tasks-cards .task-card .task-info .task-text {
  min-height: 6vh;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.wrapper .tasks .tasks-cards .task-card .task-info .task-text > h1 {
  margin-bottom: 0.5rem;
}
.wrapper .tasks .tasks-cards .task-card .task-info .task-button {
  width: 15%;
  height: 10vh;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.wrapper .tasks .tasks-cards .task-card .task-info .task-button button {
  padding: 0.5rem;
  position: absolute;
  z-index: 2;
}
.wrapper .tasks .tasks-cards .task-card .task-info .task-button button > span {
  font-size: 2rem;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.wrapper .tasks .tasks-cards .task-card .task-action {
  display: flex;
  float: right;
  margin-top: 1rem;
}
.wrapper .tasks .tasks-cards .task-card .task-action button {
  width: 2vw;
  height: 4vh;
  padding: 1.25rem;
  margin-left: 1rem;
  background-color: #1f1e1b;
}
.wrapper .tasks .tasks-cards .task-card .task-action button > img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
@-webkit-keyframes taskActionView {
  from {
    margin-top: -3rem;
  }
  to {
    margin-top: 1rem;
  }
}
@keyframes taskActionView {
  from {
    margin-top: -3rem;
  }
  to {
    margin-top: 1rem;
  }
}
@-webkit-keyframes taskActionClose {
  from {
    margin-top: 1rem;
  }
  to {
    margin-top: -3rem;
  }
}
@keyframes taskActionClose {
  from {
    margin-top: 1rem;
  }
  to {
    margin-top: -3rem;
  }
}
